@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url("/buble.svg");
    background-size: cover;
    font-family: 'Poopins', sans-serif;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.box {
    min-width: 400px;
    background: #fafaff;
    border-radius: 38px;
    text-align: center;
    position: relative;
}

.box::before {
    content: '';
    position: absolute;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    background: rgba(255, 255, 255, alpha);
    box-shadow: 0px 0px 166px -31px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    z-index: -1;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0;
    color: #0044ff;
    font-family: 'Poppins', sans-serif;
}

h1 span {
    color: #0044ff;
}
.content {
    padding: 0 40px;
}

.input {
    background: #fff;
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
    border-radius: 28px;
    padding: 20px 0;
    margin-bottom: 20px;
}

.input label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

.input input {
    outline: none;
    border: none;
    border-bottom: 1px solid #4f7df9;
    width: 60%;
    text-align: center;
    font-size: 28px;
}

button#calculate {
    color: #fff;
    background: #4f7df9;
    font-size: 16px;
    border-radius: 12px;
    padding: 12px 0;
    width: 100%;
    border: none;
    outline: none;
    
}

button#calculate:hover {
    background: #0044ff;

}

.result {
    padding: 30px 20px;
}

.result p {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.result #result {
    font-size: 36px;
    font-weight: 900;
    color: #0044ff;
    background-color: #eaeaea;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 55px;
    margin-bottom: 25px;
}

#comment {
    color: #0044ff;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}